@{
    ViewBag.Title = "Home Page";
}
    <body>
        <hr />


        <div class="card bg-dark text-white">
            <img class="card-img" src="~/Content/img/Barber-Shop-Stripes-banner.jpg" width="200" height="250" alt="Card image">
        </div>

        <hr />
        <div>
            <div class="row">
                <div class="card text-white bg-info mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>NovaFeroz</h3>
                        <img class="card-img-top" src="~/Content/Img/barbero1.jpg" alt="Card image cap">
                    </div>
                </div>

                <hr />

                <div class="card text-dark bg-light mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>Danielito</h3>
                        <img class="card-img-top" src="~/Content/Img/barbero2.jpg" alt="Card image cap">
                    </div>
                </div>

                <hr />

                <div class="card text-white bg-danger mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>Trix</h3>
                        <img class="card-img-top" src="~/Content/Img/barbero3.jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="row">
                <div class="card text-white bg-info mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>NovaFeroz</h3>
                        <img class="card-img-top" src="~/Content/Img/barbero1.jpg" alt="Card image cap">
                    </div>
                </div>

                <hr />

                <div class="card text-dark bg-light mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>Danielito</h3>
                        <img class="card-img-top" src="~/Content/Img/barbero2.jpg" alt="Card image cap">
                    </div>
                </div>

                <hr />

                <div class="card text-white bg-danger mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>Trix</h3>
                        <img class="card-img-top" src="~/Content/Img/barbero3.jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>

    </body>
